<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lootexe.foreground">
    <application>
        <service android:name="com.lootexe.foreground.ForegroundService" />
        <receiver
            android:name=".RebootBroadcastReceiver"
            android:enabled="false"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
